<br><br>
<div class="container-fluid top" id="mainContentContainer">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8" id="mainContent">
            <div class="jumbotron text-center hoverable p-4 position-absolute top-50 start-50 translate-middle"
                style="background-color: rgba(0,0,0,0);" id="moveme">
                <div class="row">
                    <br><br>
                    <div class="view overlay"><img src="/images/0.jpeg" class="img-fluid top" id="me" alt=" ">
                        <a>
                            <div class="mask rgba-white-slight">
                            </div>

                        </a>
                    </div>


                    <a href="#!" class="green-text"></a>
                    <p class="lead mb-4 text-light">
                        Husband, Father, Web Developer
                    </p>
                    <p class="mb-4 text-light">
                        Hello, My name is David Stinnett. I am a web developer, but my primary purpose in life is as a
                        husband,
                        father, and a provider for my family. I am a graduate of the coding boot camp offered through the
                        University
                        of Richmond and have learned so much, and I cannot wait to learn more. I have experience working with HTML, CSS, Javascript and React.
                        I also have experience with frameworks relating to these, for example, I have deployed projects using Handlebars, Bootstrap, Material UI, and JQuery.
                        <br><br>
                        I am from the Richmond, Virginia area, and in my free time I enjoy playing music, coding and
                        advocating
                        for open source software
                    </p>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>