<br><br>
<div class="container-fluid top" id="mainContentContainer">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8" id="mainContent">
            <div class="jumbotron text-center hoverable p-4 position-absolute top-50 start-50 translate-middle"
                style="background-color: rgba(0,0,0,0);" id="jumbotron">
                <div class="row">
                    <div class="view overlay"><img src="/images/0.jpeg" class="img-fluid top" alt=" "
                            style="padding-top: 10%; padding-bottom: 5%"><a>
                            <div class="mask rgba-white-slight">
                            </div>

                        </a></div>


                    <a href="#!" class="green-text"></a>
                    <h4 class="h1 mb-4 jumboText">A goal is just a dream with a deadline</h4>
                    <p class="font-weight-normal jumboText top">I am a coding student in the University of Richmond
                        Coding Bootcamp, and this is where you can follow my journey to become a professional Web
                        Developer</p>
                    </>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>