<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="https://leopard-ta.herokuapp.com/">
                <img src="/images/togetherAgainst.png" class="d-block w-100" alt="...">
            </a>
             <br><br>
            <div class="row">
               
                <div class="col">
                    <div class="carousel-caption d-none d-md-block" style="padding-top: 20%">
                        <h5>Together Against</h5>
                        <a href="https://leopard-ta.herokuapp.com/" class="btn"><i class="fas fa-rocket"></i></a>
                        <a href="https://github.com/serjykalstryke/LeopardLightning" class="btn"><i
                                class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <a href="https://lucsedirae.github.io/deep-cuts/">
                <img src="/images/pitch.png" class="d-block w-100" alt="...">
            </a>
            <br><br>
            <div class="row">
                
                <div class="col">
                    <div class="carousel-caption d-none d-md-block" style="padding-top: 20%">
                        <h5>Pitch</h5>
                        <a href="https://lucsedirae.github.io/deep-cuts/" class="btn"><i class="fas fa-rocket"></i></a>
                        <a href="https://github.com/serjykalstryke/deep-cuts" class="btn"><i
                                class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <a href="https://open-house-crm.herokuapp.com/">
                <img src="/images/openHouse.png" class="d-block w-100" alt="...">
            </a>
            <br><br>
            <div class="row">
                
                <div class="col">
                    <div class="carousel-caption d-none d-md-block" style="padding-top: 20%">
                        <h5>OpenHouse CRM</h5>
                        <a href="https://open-house-crm.herokuapp.com/" class="btn"><i
                                class="fas fa-rocket"></i></a>
                        <a href="https://github.com/serjykalstryke/open-house-crm" class="btn"><i
                                class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>